# 🔒 Archivos sensibles
.env
.env.* 

# 📦 Dependencias
node_modules/

# 🚀 Builds de producción
dist/
build/

# ⚙️ Archivos temporales del sistema
.DS_Store
Thumbs.db

# 🐛 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 📁 Editor y sistema operativo
.vscode/
.idea/
*.swp

# 🧪 Cobertura de pruebas
coverage/

# ⚙️ PM2 (si usas para el backend)
pids
*.pid
*.seed

# 💡 TypeScript
*.tsbuildinfo

# 🔐 Certificados locales
*.pem
*.key
*.crt

# ⚙️ Git LFS (si lo usas)
*.psd
*.mp4
*.zip
*.rar